.container{
  

    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
   
   
}


.welcome{
    font-size: 30px;
    color: rgb(103, 103, 238);
    align-items: center;
    justify-content: center;
}